.card{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px black;
    transition: 1s;
}

.desc{
    width: 100%;
    padding: 0 4px 0 4px;
}

img {
    width: 200px;
    border-radius: 5px 5px 0 0;
}

.card:hover{
    box-shadow:0 8px 16px cornflowerblue; 
} 
